{% extends 'partials/base.html.twig' %}

{% block content %}
<!-- section - {{ page.menu }} -->
<div id="{{ page.menu }}" class="pad-section">
  <div class="container">
    <h2>{{ page.title }}</h2>
    <br>
      <div class="row">
        <div class="col-sm-12">
         {{ page.content }}
        </div>
      </div>


    <div class="row" id="pay">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Student payment</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                        <input type="hidden" name="on0" value="Select ticket">
                        <input type="hidden" name="on1" value="Training location">
                        <input type="hidden" name="on2" value="Student name">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="XKTJTTQP4N9XJ">
                        <input type="hidden" name="currency_code" value="GBP">
                        <div class="form-group">
                            <label for="os0" class="col-sm-4 control-label">Select your level</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="os0" id="os0">
                                    <option value="Adult Student - not getting a belt -">Adult Student - not getting a belt - £80.00 GBP</option>
                                    <option value="Adult Student - getting 1st/2nd/3rd belt -" disabled>Adult Student - getting 1st/2nd/3rd belt - £90.00 GBP</option>
                                    <option value="Adult Student - getting 4th belt -" disabled>Adult Student - getting 4th belt - £100.00 GBP</option>
                                    <option value="Adult Student - Monitor -" disabled>Adult Student - Monitor - £110.00 GBP</option>
                                    <option value="Adult Student - Instrutor -" disabled>Adult Student - Instrutor - £120.00 GBP</option>
                                    <option value="Child Student - getting 1st/2nd belt -">Child Student - getting 1st/2nd belt - £35.00 GBP</option>
                                    <option value="Child Student - getting 3rd belt -">Child Student - getting 3rd belt - £40.00 GBP</option>
                                    <option value="Child Student - getting 4th belt -">Child Student - getting 4th belt - £45.00 GBP</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="os1" class="col-sm-4 control-label">Training location</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="os1" id="os1">
                                    <option value="Cambridge">Cambridge </option>
                                    <option value="Saffron Walden">Saffron Walden </option>
                                    <option value="Stapleford">Stapleford </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="os2" class="col-sm-4 control-label">Student name</label>
                            <div class="col-sm-8">
                                <input type="text" name="os2" id="os2" class="form-control" maxlength="200" placeholder="Student name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="btn_buy" class="col-sm-4 control-label"> </label>
                            <div class="col-sm-8">
                                <input type="image" id="btn_buy" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                                <button id="popover-help" type="button" class="btn btn-link pull-right" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Having trouble paying with PayPal? Try clearing your browser cookies or open an icognito window and try again. Email us at negaca@capoeiracambridge.co.uk if you are unable to pay.">help</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- row -->

    </div>
  </div>
</div>
<!-- /{{ page.menu }} section -->
{% endblock %}


