
<!-- jumbo section - {{ page.menu }} -->
<div id="{{ page.menu }}" class="jumbo" style="
  background: url('{{ page.media.images|first.url() }}');
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
">
    <div class="container text-vcenter">
        <div class="col-sm-offset-2 col-sm-8">
            {% if uri.param('success') %}
                <div class="alert alert-success" role="alert">Thank you for your purchase! See you at the batizado. Muito Axé!</div>
            {% endif %}
            <div class="batizado">{{ page.content }}<br></div>
        </div>
    </div>
</div>
<!-- /{{ page.menu }} -->
