
<!-- panels - {{ page.menu }} -->
<div id="{{ page.menu }}" class="pad-section bg-light">
	<div class="container">
		<h2>{{ page.title }}</h2>
		<br>
		<div class="row">
			{% for column in page.content|split('<hr />') %}
			    <div class="col-sm-4">
			    	<div class="panel panel-default">
			    		<div class="panel-heading">
			    			<h3 class="panel-title"><center>{{ column|split('==')[1]|trim }}</center></h3>
			    		</div>
			    		<div class="panel-body">
        					{{ column|split('==')[2]|trim }}
					</div>
			    		<div class="panel-footer">
			    			<small><center>{{ column|split('==')[3]|trim }}</center></small>
			    		</div>
				</div>
                            </div>
                        {% endfor %}
    	        </div>
        </div>
</div>
<!-- /{{ page.menu }} panels -->
