
<!-- section - {{ page.menu }} -->
<div id="{{ page.menu }}" class="pad-section">
    <div class="container">
	<h2>{{ page.title }}</h2>
	<br>
        {{ page.content }}
	<hr>
        <div class="row">
            <div class='list-group gallery'>
                {% for image in page.media.images %}
				<div class="col-lg-4 col-sm-6 text-center">
                    {{ image.cropZoom(200,200).sepia.html('Guest Photo','Guest Photo','img-center img-circle') }}
					<h3>{{ image.filename|split('.')[0]|humanize|titleize }}</h3>
					<p><br></p>
				</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- /{{ page.menu }} section -->
