<!-- navigation panel -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
      	<span class="sr-only">Toggle navigation</span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="Brand" src="{{ url('theme://images/negaca_logo_sm.png') }}" height="75">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav navbar-right">
  	    {% for page in pages.children %}
  		    {% if page.visible %}
  		        {% set active = (page.active or page.activeChild) ? 'active' : '' %}
                {% set children = page.header.spy_items.children.count > 0 %}
		        <li class="{{ active }}"><a href="{% if active %}#top{% else %}{{ page.url }}{% endif %}">{{ page.menu|capitalize }}{% if active and children %} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>{% endif %}</a></li>
                {% if active and children %}
                    {% for item in page.header.spy_items|split(' ') %}
                        <li class="small italic"><a href="#{{ item }}">&nbsp;{{ item|capitalize }}&nbsp;</a></li>
                    {% endfor %}
                {% endif %}
  		    {% endif %}
  	    {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end navigation panel -->
